_libgcc_mutex             0.1
_openmp_mutex             5.1
blas                      1.0
bottleneck                1.4.2
brotli-python             1.0.9
bzip2                     1.0.8
ca-certificates           2025.2.25
certifi                   2025.4.26
charset-normalizer        2.0.4
contourpy                 1.3.1
cuda-cudart               11.8.89
cuda-cupti                11.8.87
cuda-libraries            11.8.0
cuda-nvrtc                11.8.89
cuda-nvtx                 11.8.86
cuda-runtime              11.8.0
cycler                    0.11.0
expat                     2.6.2
ffmpeg                    4.3
filelock                  3.13.1
fonttools                 4.55.3
freetype                  2.12.1
gmp                       6.2.1
gnutls                    3.6.15
idna                      3.7
intel-openmp              2023.1.0
jinja2                    3.1.3
joblib                    1.4.2
jpeg                      9e
kiwisolver                1.4.8
lame                      3.100
lcms2                     2.12
ld_impl_linux-64          2.38
lerc                      3.0
libcublas                 11.11.3.6
libcufft                  10.9.0.58
libcufile                 1.9.1.3
libcurand                 10.3.5.147
libcusolver               11.4.1.48
libcusparse               11.7.5.86
libdeflate                1.17
libffi                    3.4.4
libgcc-ng                 11.2.0
libgfortran-ng            11.2.0
libgfortran5              11.2.0
libgomp                   11.2.0
libiconv                  1.16
libidn2                   2.3.4
libjpeg-turbo             2.0.0
libnpp                    11.8.0.86
libnvjpeg                 11.9.0.86
libpng                    1.6.39
libstdcxx-ng              11.2.0
libtasn1                  4.19.0
libtiff                   4.5.1
libunistring              0.9.10
libuuid                   1.41.5
libwebp-base              1.3.2
llvm-openmp               14.0.6
lz4-c                     1.9.4
markupsafe                2.1.3
matplotlib-base           3.10.0
mkl                       2023.1.0
mkl-service               2.4.0
mkl_fft                   1.3.8
mkl_random                1.2.4
mpmath                    1.3.0
ncurses                   6.4
nettle                    3.7.3
networkx                  3.1
numexpr                   2.10.1
numpy                     1.26.4
numpy-base                1.26.4
openh264                  2.1.1
openjpeg                  2.4.0
openssl                   3.0.16
packaging                 24.2
pandas                    2.2.2
pillow                    10.3.0
pip                       23.3.1
pybind11-abi              5
pyparsing                 3.2.0
python                    3.12.3
python-dateutil           2.9.0post0
python-tzdata             2025.2
pytorch                   2.3.0
pytorch-cuda              11.8
pytorch-mutex             1.0
pytz                      2024.1
pyyaml                    6.0.1
readline                  8.2
requests                  2.31.0
scikit-learn              1.4.2
scipy                     1.13.0
seaborn                   0.13.2
setuptools                68.2.2
six                       1.17.0
sqlite                    3.45.3
sympy                     1.12
tbb                       2021.8.0
threadpoolctl             3.5.0
tk                        8.6.12
torchaudio                2.3.0
torchvision               0.18.0
typing_extensions         4.9.0
tzdata                    2024a
unicodedata2              15.1.0
urllib3                   2.1.0
wheel                     0.43.0
xz                        5.4.6
yaml                      0.2.5
zlib                      1.2.13
zstd                      1.5.5